<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
	
	<!-- 用户注册sql -->
	<insert id="register">
		insert into t_user
			(id,name,psswd,admin,status,create_time)
		values
			(
				UUID(),
				#{user.name, jdbcType=VARCHAR},
				#{user.psswd, jdbcType=VARCHAR},
				#{user.admin, jdbcType=VARCHAR},
				#{user.status, jdbcType=VARCHAR},
				now()
			)
	</insert>
	
	<!-- 查询用户数量 -->
	<select id="isRepeat" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*)
		from t_user u
		where u.name = #{name}
	</select>
	
	<!-- 查询密码 -->
	<select id="findPassWord" parameterType="com.example.demo.entity.UserVO" resultType="java.lang.String">
		select u.psswd from t_user u where u.name = #{name}
	</select>
</mapper>